.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  /* Constrain max width of the container */
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}